# Propriedades do Spring
server.port: 8080
spring.application.name: Grand Prognosticator
logging.file: logs/grand-prognosticator.log

# Propriedades do robô
bot:
  discord:
    volume: 10
    playing: The Elder Scrolls Online
    operator: "!gp"
    api:
      token: 
      id: 
      secret: 
    message:
      footer:
        icon: http://img1.wikia.nocookie.net/__cb20120612190227/elderscrolls/images/f/f7/TESOnlineIcon.png
        text: The Grand Prognosticator. By the Word of Seht, I am bound.
    guild:
      id: 
      channel:
        log: 
        general: 
        campaign: 
  rpg.sheet.dir:
    save: '@project.build.directory@/sheets/save'
    load: '@project.build.directory@/sheets/load'
  watson:
    apikey: 
    assistantid: 
  youtube.apikey: 