discord.bot.token=
discord.bot.id=
discord.bot.secret=

discord.bot.volume=
discord.bot.game.playing=The Elder Scrolls Online
discord.bot.operator=!gp

discord.bot.footer.text=
discord.bot.footer.image=
discord.guild.id=
discord.guild.log.channel.id=
discord.guild.general.channel.id=
discord.guild.campaigns.channel.id=

discord.bot.sheet.dir=

youtube.api.key=

watson.apikey=
watson.assistantid=
